@model PaginatedList<BusinessObject.Product>

@using System.Security.Claims

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var claim = User.Claims.SingleOrDefault(c => c.Type.Equals(ClaimTypes.Name));
    var role = "User";
    if (claim != null)
    {
        if (claim.Value.Equals("Admin"))
        {
            role = "Admin";
        }
    }

    if (role.Equals("Admin"))
    {
        ViewData["Title"] = "Product Management";
        <h1>Product Management</h1>
    }
    else
    {
        ViewData["Title"] = "Shopping";

    }
}

@if (role.Equals("Admin"))
{
    <p>
        <a class="btn btn-outline-info" asp-action="Create">Create New Product</a>
    </p>
}



@if (TempData["Create"] != null && !string.IsNullOrEmpty(TempData["Create"].ToString()))
{
    await Html.RenderPartialAsync("Alert", new ViewDataDictionary(ViewData) { { "role", "success" }, { "message", TempData["Create"] } });
}
@if (TempData["Update"] != null && !string.IsNullOrEmpty(TempData["Update"].ToString()))
{
    await Html.RenderPartialAsync("Alert", new ViewDataDictionary(ViewData) { { "role", "success" }, { "message", TempData["Update"] } });
}
@if (TempData["Delete"] != null && !string.IsNullOrEmpty(TempData["Delete"].ToString()))
{
    await Html.RenderPartialAsync("Alert", new ViewDataDictionary(ViewData) { { "role", "success" }, { "message", TempData["Delete"] } });
}
<div class="container row mt-lg-4" style="display: flex; justify-content: space-evenly; width: 100%">

    <div class="col col-12">
        <form asp-action="Index" asp-controller="Product" method="get">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="search" class="d-inline">Search by Product Name: </label>
                    </div>
                    <div class="col-md-5">
                        <input name="search" type="search" id="form1" class="form-control" value="@ViewBag.Search" />
                    </div>
                    <div class="col-md-3">
                        <select name="category" class="btn btn-light w-100">
                            <option value="0">All</option>
                            @foreach (var item in ViewBag.Categories)
                            {
                                @if (ViewBag.SelectedCate == item.CategoryId)
                                {
                                    <option selected value="@item.CategoryId">@item.CategoryName</option>

                                }
                                else
                                {
                                    <option value="@item.CategoryId">@item.CategoryName</option>
                                }

                            }
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="from" class="d-inline">Search by Price:</label>
                    </div>
                    <div class=" col-md-4 d-flex">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-outline">
                                    <input name="from" type="number" id="from" class="form-control" aria-describedby="unitPriceHelp" value="@ViewBag.Search" />
                                    <label class="form-label" for="form1">From ($)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-outline">
                                    <input name="to" type="number" id="to" class="form-control" aria-describedby="unitPriceHelp" value="@ViewBag.Search" />
                                    <label class="form-label" for="form1">To ($)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <button type="submit" class="btn btn-primary" name="Search">
                                    <i> Search</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </form>
        @if (ViewBag.Error != null)
        {
            <div class="row mt-3">
                <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
            </div>
        }
        else
        {
            @if (Model == null || !Model.Any())
            {
                <div class="text-danger">No results found!!</div>
            }
            else
            {
                <div class="product-list row mb-3">
                    @foreach (var item in Model)
                    {
                        <div class="product text-center pb-2" style="height: auto; width: 21%; margin: 10px 10px; background-color: rgba(247, 240, 244, 0.8); border-radius: 5px; border: none; padding-top: 4px">
                            @if (item.ProductId == 3)
                            {
                                <img class="product-img" src="~/img/asus-gaming-rog-strix-scar-18-g834jy-i9-n6039w-thumb-600x600.jpg" />

                                <br>
                            }
                            @if (item.ProductId == 5)
                            {
                                <img class="product-img" src="~/img/dell-inspiron-15-3520-i5-n5i5122w1-191222-091429-600x600.jpg" />

                                <br>
                            }
                            @if (item.ProductId == 6)
                            {
                                <img class="product-img" src="~/img/acer-aspire-3-a315-59-38pg-i3-nxk6tsv00a-thumb-600x600.jpg" />

                                <br>
                            }

                            @if (item.ProductId == 8)
                            {
                                <img class="product-img" src="~/img/80874_man_hinh_edra_egm24f100va_850x850_1.jpg" />

                                <br>
                            }
                            @if (item.ProductId == 9)
                            {
                                <img class="product-img" src="~/img/62108_man_hinh_dell_se2222h_5.jpg" />

                                <br>
                            }
                            @if (item.ProductId == 10)
                            {
                                <img class="product-img" src="~/img/PC-MSI-MAG-Codex-5-12TG-1488VN-i5-12400F-songphuong.vn-06.jpg" />

                                <br>
                            }
                            @if (item.ProductId == 11)
                            {
                                <img class="product-img" src="~/img/64370_g35dx_vn003w_01.jpg" />

                                <br>
                            }
                            @if (item.ProductId == 12)
                            {
                                <img class="product-img" src="~/img/Ram-Kingston-8GB-2666MHz-PC(1).jpg" />

                                <br>
                            }
                            @if (item.ProductId == 13)
                            {
                                <img class="product-img" src="~/img/69429_o_cung_ssd_samsung_990_pro_1tb_pcie_nvme_4__3_.jpg" />

                                <br>
                            }
                            <div class="name"><a asp-action="Details" asp-route-id="@item.ProductId">@item.ProductName</a>  </div>
                            <div class="price">@Math.Round(item.UnitPrice) $</div>
                            <div class="product-details">
                                <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-primary btn-detail">View Details</a>
                            </div>
                        </div>

                    }
                </div>



                // Phân trang
                <div>
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" class="btn btn-outline-primary @prevDisabled">Previous</a>
                    <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" class="btn btn-outline-primary @nextDisabled">Next</a>
                </div>
            }
        }
    </div>
</div>

<style>
    .product {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .list-product-container {
        display: flex;
        flex-wrap: wrap;
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
    }

    .product-item {
        width: 30%;
        border: 1px solid black;
    }

    .product-img {
        width: 100%;
    }

    .btn-detail {
        border-radius: 20px; 
        padding: 10px 20px; 
        font-weight: bold; 
        transition: all 0.3s ease; 
    }

     .btn-detail:hover {
            background-color: #0056b3; 
            border-color: #0056b3; 
            color: #fff; 
        }
</style>